
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
.eggs/
*.egg-info/
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.poetry/
.pytest_cache/
.mypy_cache/
.cache/
.coverage
htmlcov/
data/processed/
.env
.env.*
